@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 210, 62.79%, 52%;
    --popover-foreground: 210, 40%, 98%;

    --primary: 210, 100%, 69%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 210, 58.5%, 42%;
    --secondary-foreground: 210, 40%, 98%;

    --muted: 210, 58.5%, 42%;
    --muted-foreground: 215, 20.2%, 65.1%;

    --accent: 210, 58.5%, 42%;
    --accent-foreground: 210, 40%, 98%;

    --destructive: 240, 84%, 60%;
    --destructive-foreground: 210, 40%, 98%;

    --border: 210, 58.5%, 42%;
    --input: 210, 58.5%, 42%;
    --ring: 240, 26.8%, 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}